body {
    margin: 0;
    color: #3c4043;
    font-size: 16px;
    padding-top:50px;
    background-color: #F7F7F7;
    font-family: Roboto,Arial,sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 70%;
    margin: auto;
    padding: 2rem;
}
.btn, input[type="submit"] {
    padding: 0.8rem;
    width: 5rem;
    text-align: center;
    color: white;
    background-color: #00897B;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid transparent;
}
button:active, button:focus, .btn:active, .btn:focus, input:focus {
    outline: none;
}
input {
    position: relative;
    padding: 0.8rem 1rem;
    border: 1px solid transparent;
    background-color: #F7F7F7;
    font-size: 1rem;
    transition: all .5s ease;
    width: 12rem;

    &::placeholder {
        color: #757575;
    }
    &:focus {
        outline: none;
        border: 1px solid #1a0dab;
    }
    &:focus + label {
        opacity: 1;
        pointer-events: auto;
    }
}

h1, h2 {
    margin: 1.5rem 0;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.alert-btn {
    width: 30%;
    margin-top: 1rem;
    background-color: #C14D44;
}